body {
    background-color: #272822;
    color: #e6e5e2;
    font-size: 20px;
}

a {
    color: #e6e5e2;
}

.content {
    margin: 0 auto;
    display: table;
}

.thumbnail {
    padding: 16px;
    text-align: center;
}

